.project{
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background: rgb(201, 197, 197);
    padding: 24px;
    border: 2px solid rgb(84, 117, 119);
    margin: top 12px;

}

.years {
    margin: 0px;
}

.project-photo {
    border-radius: 20px;
    width: 300px;
    height: 200px;
}

.project-name {
    margin: 8px 0px;
}

/* ANIMACIJA U MY PROJECT KARTICI */

.project1 {
    opacity: 0;
    animation: One 2s ease 0.5s 1 forwards;
}
.project2 {
    opacity: 0;
    animation: One 2s ease 2s 1 forwards;
}
.project3 {
    opacity: 0;
    animation: One 2s ease 4s 1 forwards ;

}


@keyframes One{
    0% {
        opacity:0;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity:1
    }
}

/* PREBACIVANJE SLIKA U STUPCE KAD JE SCREEN MANJI OD 1024px */

@media screen and (max-width: 1024px) {
    .project{
        display: flex;
        flex-direction: column;
    }
    
}
